.header__container{
    background-color: #282828;
    margin: 0 0 2rem;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header__navbar{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header__icon-dropdown{
    margin-top: 3rem;

    &.liked{
        font-size: 3rem;
        color: $bootstrap-primary;
    }

}

.header__dropdown-input{
    width: 100%;
    height: 5rem;
    padding: 0 2rem;
    background-color: white;
}

.header__icon{

    &:hover{
        cursor: pointer;
    }

    &.published svg{
        color: $bootstrap-success !important;
    }
    
    &.category svg{
        color: $bootstrap-info !important;
    }
    
    &.sort svg{
        color: $bootstrap-light !important;
    }
    
    &.search svg{
        color: $bootstrap-warning !important;
    }
    
    &.heart svg{
        color: $bootstrap-danger !important;
    }

    &.home svg{
        color: $bootstrap-primary !important;
    }

}

//BEM - Block Element Modifier naming convention (getbem.com)

@media( min-width : $desktop-breakpoint ){
    .header {
        //margin-bottom: $xl-size;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header__container{
        padding: 2rem 0;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .header__container{
        padding: 3rem 0;
    }

    .navlink{
        color: black;
    }

    .header__navbar{
        margin-top: 0;
        margin-bottom: 0;
    }

    .header__icon-dropdown{
        margin-top: 5rem;
    }

} 