.home__article-container{
    padding: 2rem;
    background-color: white;
    margin: 5rem 1rem;
    word-wrap: break-word;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 8px 34px 13px;
}

.home__showmore-button{
    margin-bottom: 5rem;
}

.home__article-title{
    color: black !important;
}

.home__article-like{

    svg{
        color: grey !important;
        
        &:hover{
            cursor: pointer;
        }

    }

    &.active svg{

        color: $bootstrap-danger !important;

    }

}

.home__article-publisher, .home__article-like{
    margin: 1rem 0;
}

.home__article-publisher-name{

    font-weight: bold;
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .home__article-container{
        margin: 5rem;
    }

} 
